@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: Roboto, sans-serif;
}

.hero{
    background-color: #1F2937;
    padding-left: 230px;
    padding-right: 230px;
}

.header{
    display: flex;
    padding: 16px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    margin-bottom: 80px;
}

.right-links{
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    gap: 24px;
}

.logo{
    max-width: 80px;
    max-height: auto;
    flex: 1;
    border-radius: 50%;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content-hero{
    display: flex;
    gap: 40px;
    padding-bottom: 100px;
}

.text-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
    flex: 3;
}

.hero-title{
    font-size: 48px  ;
    font-weight: 900;
    color:#F9FAF8 ;
}

.hero-p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    color: #F9FAF8 ;
    font-weight: bold;
    font-size: 16px;
    background-color: #3882F6;
    width: 120px;
    height: 35px;
    flex: 0 1 auto;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #3882F6;
}

.hero-image{
    width: 250px;
    height: 250px;
    border: 2px groove purple;
    border-radius: 12px;
    flex: 1;
    margin-left: auto;
}



.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 330px;
    padding-right: 330px;
    padding-top: 60px;
    gap: 36px;
}

.pictures-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.pictures-content{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.pictures-pair{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures-img{
    max-width: 120px;
    max-height: 120px;
    border-radius: 12px;
    
}

.pictures-p{
    text-align: center;
}