
body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.subhero{
    max-width: 900px;
}


.header{
    display: flex;
    padding: 16px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    margin-bottom: 80px;
}

.right-links{
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    gap: 24px;
}

.logo{
    max-width: 80px;
    max-height: auto;
    flex: 1;
    border-radius: 50%;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content-hero{
    display: flex;
    gap: 40px;
    padding-bottom: 100px;
}

.text-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
    flex: 3;
}

.hero-title{
    font-size: 48px  ;
    font-weight: 900;
    color:#F9FAF8 ;
}

.hero-p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    color: #F9FAF8 ;
    font-weight: bold;
    font-size: 16px;
    background-color: #3882F6;
    width: 120px;
    height: 35px;
    flex: 0 1 auto;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #3882F6;
}

.hero-image{
    width: 250px;
    height: 250px;
    border: 2px groove purple;
    border-radius: 12px;
    flex: 1;
    margin-left: auto;
}



.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 80px;
    gap: 50px;
}

.pictures-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.pictures-content{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex: auto;
    max-width: 800px;
}

.pictures-pair{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures-img{
    max-width: 140px;
    max-height: 140px;
    border-radius: 12px;
    
}

.pictures-p{
    text-align: center;
    font-size: 17px;
}


.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.quote-text{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    max-width: 850px;
    display: flex;
    flex-direction: column;
}

.quote-author{
    text-align: right;
    font-size: 16px;
    margin-left: auto;
}

.call-to-action-container{
    display: flex;
    justify-content: center;
}

.call-to-action{
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    margin-top: 85px;
    margin-bottom: 85px;
    padding: 45px;
    padding-right: 100px;
    padding-left: 100px;
    flex: auto;
    max-width: 750px;
}

.action-content{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-right: auto;
}

.action-title{
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 600;
}

.action-p{
    color: #F9FAF8;
}


.call-to-action button{
    border: 2px solid #E5E7EB;
}

.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.footer-text{
    color: #E5E7EB;
}